---
Checks:             '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm*,-altera-*,-readability-identifier-length,-modernize-use-designated-initializers'
WarningsAsErrors:   ''
HeaderFilterRegex:  ''
FormatStyle:        file
